<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analytics for Client {{ .client_id }}</title>
    <link href="/static/libs/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #chart {
            width: 100%;
            height: 70vh; /* Set height to 70% of the viewport height */
        }
        .loading {
            display: none;
            text-align: center;
            font-size: 1.5em;
            color: #007bff;
        }
        .error {
            display: none;
            text-align: center;
            font-size: 1.5em;
            color: red;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Device Chronicle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/pyprism/Device-Chronicle">Github</a>
        </li>
    </ul>
    </div>
</nav>
<div class="container-fluid">
    <h2 class="mt-4" style="text-align: center">Analytics for client {{ .client_id }}</h2>
    <div id="chart" class="mt-4" role="img" aria-label="Analytics Chart"></div>
    <div class="loading" id="loading">Loading...</div>
    <div class="error" id="error">Failed to load data. Please try again later.</div>
</div>

<script>
    window.clientID = "{{ .client_id }}";
</script>
<script src="/static/libs/bootstrap.bundle.min.js" ></script>
<script src="/static/libs/echarts.min.js"></script>
<script src="/static/customs.js"></script>
</body>
</html>